

body {font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
cursor: pointer;
color: #434455;
background-color: #fff;
margin: 0;}

a {text-decoration: none;}
ul {list-style: none;
margin: 0;
padding: 0;}

img {display: block;}

.container {max-width: 1158px;
padding: 0 15px;
margin: 0 auto;}

section {padding-top: 120px;
padding-bottom: 120px;}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}

.navigation {
display: flex;
align-items: center;
}

.header-list {display: flex;
align-items: center;
gap: 40px;
}

.navigation .navigation-logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}
.navigation-logo {padding: 24px 0;
margin-right: 76px;}

.navigation .navigation-name {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

    .header-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.header-link:hover {color: #404bbf;}
.header-link:focus {color: #404bbf;}

.header-link.current {
    position: relative;
    color: #404bbf;
}

.header-link.current::after {
    content: "";
    position: absolute;
        left: 0;
        bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf; 
}

address {font-style: normal;
margin-left: auto;}

.contact {display: flex;
align-items: center;
gap: 40px;}

.contact-link {
    display: block;
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover {color: #404bbf;}
.contact-link:focus {color: #404bbf;}

.main {
text-align: center;
padding: 188px 0;
background: #2e2f42;
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)
),
url(../images/people-office.jpg);
max-width: 1440px;
margin: 0 auto;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.main-title {
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;

    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;}

.main-btn {cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.main-btn:hover {background-color: #404BBF;}
.main-btn:focus {background-color: #404BBF;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.points-link {display: flex;
align-items: center;
gap: 24px;}

.points-list {width: calc((100% - 72px) /4);}

.points-icon {border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
background: #f4f4fd;
gap: 24px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;}


.points-link .points-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.points-link .points-text {
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.team {background-color: #f4f4fd;
width: 1440px;}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-group {
    padding: 32px 0;
}

.list-item {
background: #fff;
border-radius: 0 0 4px 4px;
width: calc((100% - 72px) /4);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-main-title {
    text-align: center;
    text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 72px;

        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;}

.team-title {margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;


    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.team-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
margin-bottom: 8px;}
    
.social-icons {display: flex;
    justify-content: center;
    align-items: center;
gap: 24px;
margin: 0;
}

.icons-list {display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
border-radius: 50%;
align-items: center;
justify-content: center;
cursor: pointer;
transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.icons-list:hover,
.icons-list:focus {
    background-color: #404bbf;
}


.icons-link {display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.icons-link:hover,
.icons-link:focus {
    background-color: #404bbf;
}
.icons-svg {
    fill: #f4f4fd;
}

.portfolio .portfolio-title-main {
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;

    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.portfolio-list {display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-item {
width: calc((100% - 48px) /3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-group {padding: 32px 16px;
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    }

.thumb {
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
}



.overlay-desc {position: absolute;
top: 0;
    left: 0;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    color: #F4F4FD;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover 
{ box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);}

.portfolio-item:hover .overlay-desc {
transform: translateY(0);
        }

.portfolio-title {
    margin-bottom: 8px;
text-align: left;
        font-weight: 500;
        font-size: 20px;
    
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;}

.portfolio-descr {
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}

.end-container {
display: flex;
align-items: baseline;
justify-content:left;
margin: 0 auto;
}

.end-web {
    margin-right: 120px;
}

.end {background-color:#2e2f42;
    padding: 100px 0;
}
.end .footer-logo {font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}
    .end .footer-name {font-family: "Raleway", sans-serif;
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;}
    .end-text {max-width: 264px;
        font-weight: 400;
        font-size: 16px;

        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;}

     .footer-social-title {
        width: 96px;
        font-weight: 500;
        font-size: 16px;
    
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}   

.footer-social { 
    display: flex;
    gap: 16px;
}

    .footer-icons {
        display: inline-block;
        gap: calc((100% - 48px) /4);
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        justify-items: center;
        align-items: center;
        background-color: #4d5ae5;
    }

    .footer-icons:hover,
    .footer-icons:focus {
        background-color: #31D0AA;
    }
    
    .footer-link {
        display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #4d5ae5;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-link:hover,
    .footer-link:focus {
        background-color: #31D0AA;
    }
   
    .footer-svg {
        fill: #f4f4fd;
    }